$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;

$primary-text-color: #212627;
$primary-title-color: #0f172a;

$size-sm: 12px;
$size-mid: 16px;
$size-xl: 22px;
